# Carpetas de dependencias
node_modules/
bower_components/

# Sistemas operativos y carpetas temporales
.DS_Store
Thumbs.db
._*
Desktop.ini

# Editores de código
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Carpetas de compilación y salida (común en frameworks o bundlers)
dist/
build/
out/

# Archivos de entorno y logs
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Archivos PHP
*.php